p {
  font-size: 15px;
}
#results {
  font-size: 100px;
  text-align: center;
  min-height: 150px;
}
.page-title {
  text-align: center;
  margin: 40px auto 50px auto;
}
.quiz-title {
  text-align: center;
  margin: 50px auto 30px auto;
}
.languages-img {
  max-width: 500px;
  float: right;
  margin-left: 50px;
}
.center-item {
  margin: 0 auto 0 auto;
}
.btn-primary {
  font-size: 15px;
  font-weight: bold;
  width: 20%;
  margin-bottom: 50px;
}
.main-footer {
    background-color: #2f2f2f;
    color: #eee;
    height: 90px;
    line-height: 30px;
}
